/*asdf
*/
/* #23232c, otros = 222222, 2A1D32, 1E2A2D :) */
body {
  color: #d2d2d2;
  background: #23232c;
  font-family: Arial, sans-serif;
  text-align: center; }

h1 {
  font-family: "Century Gothic", Raleway;
  font-size: 1.70em;
  font-weight: normal;
  color: #d2d2d2;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5); }

.container-dicc {
  display: inline-block; }
  .container-dicc .inpt {
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-family: "Century Gothic", Raleway;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #3a3a43;
    color: #d2d2d2;
    border-bottom: 1px solid #31313a; }
  .container-dicc .inpt:focus {
    outline: none;
    background-color: #56565f; }
  .container-dicc #input-search {
    border-radius: 4px 4px 0 0px; }
  .container-dicc .container-list {
    width: 200px;
    float: left;
    text-align: left; }
    .container-dicc .container-list .list-words {
      height: 160px;
      overflow: hidden;
      overflow-y: scroll;
      direction: rtl; }
      .container-dicc .container-list .list-words .proj {
        cursor: pointer;
        padding: 7px 15px;
        background-color: #41414a;
        border-top: 1px solid #4a4a53;
        border-bottom: 1px solid #31313a;
        background-image: url("../images/right2.png");
        background-repeat: no-repeat;
        background-position: 94% 50%; }
      .container-dicc .container-list .list-words .proj.active {
        background-color: #34343d; }
    .container-dicc .container-list .view-all {
      font-size: 14px;
      font-family: "Century Gothic", Raleway;
      cursor: pointer;
      padding: 2px 6px;
      border-radius: 0px 0px 4px 4px;
      border-top: 1px solid #31313a;
      background-color: #36363f;
      color: #d2d2d2; }
    .container-dicc .container-list .view-all:hover {
      background-color: #3d3d46; }
  .container-dicc .container-right {
    width: 215px;
    margin-left: 15px;
    float: left; }
    .container-dicc .container-right #mean {
      height: 75px;
      line-height: 75px;
      vertical-align: middle;
      font-size: 18px;
      padding: 10px;
      margin-bottom: 22px;
      overflow: auto;
      border-radius: 6px;
      border: 1px solid #4b4b54;
      background-color: #41414a; }

.links {
  border-radius: 6px;
  width: 650px;
  margin: 0 auto;
  padding: 10px 0px;
  margin-bottom: 25px;
  margin-top: 20px;
  background-color: #3b3b44;
  border: 1px solid #4b4b54; }
  .links table {
    width: 100%;
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse; }
    .links table .tr-text td {
      padding-bottom: 15px; }

.final-links {
  font-size: 18px;
  padding: 4px;
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  color: darkgray;
  background-color: #16161f;
  border-top: 1px solid #11111a; }
  .final-links a {
    color: darkgray; }
  .final-links a:hover {
    color: #666666; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background-color: #44444d;
  border-left: 1px solid #41414a; }

::-webkit-scrollbar-thumb {
  background-color: #676770; }

::-webkit-scrollbar-thumb:hover {
  background-color: #787881; }
